/**
 *	Animate the view
 */
.view-animate {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.view-animate.ng-enter {
  opacity: 0;
  transition-delay: 0.5s; }

.view-animate.ng-enter-active {
  opacity: 1; }

.view-animate.ng-leave {
  opacity: 1; }

.view-animate.ng-leave-active {
  opacity: 0; }

@-webkit-keyframes drop-in {
  0% {
    left: -30px;
    opacity: 0; }
  100% {
    left: 0;
    opacity: 1; } }
.animate {
  position: relative;
  -webkit-animation: drop-in 0.5s cubic-bezier(0.05, 1.25, 0.61, 1);
  -webkit-animation-delay: 1s;
  -webkit-animation-fill-mode: backwards;
  animation: drop-in 0.5s cubic-bezier(0.05, 1.25, 0.61, 1);
  animation-delay: 1s;
  animation-fill-mode: backwards; }

[class*="block-grid-"] {
  margin: 0 !important; }

#header {
  padding: 8px 0;
  position: fixed;
  height: 74px; }
  #header .logo {
    margin: 0; }
    #header .logo img {
      width: auto; }
  #header .search {
    display: inherit;
    margin-top: 15px; }
    #header .search input {
      border-radius: 5px; }
    #header .search .search-form .submit {
      right: 10px; }
  #header .searchbg {
    background: #000000;
    padding-bottom: 8px; }

.mobilehome {
  padding-bottom: 70px;
  padding-top: 75px; }

.ng-hide {
  display: none; }

.activetab {
  background: #FE0173;
  color: #FFF !important;
  border-bottom: 0 !important;
  padding: 5px auto 0;
  margin-top: 4px; }

.meekomobileicon {
  background: url("home-meeko-logo.png") no-repeat;
  height: 18px;
  width: 26px;
  margin: 0 auto;
  margin-top: 4px; }

.homemobileicon {
  background: url("home-meeko-mobile.png") no-repeat;
  height: 18px;
  width: 21px;
  margin: 0 auto;
  margin-top: 4px; }

.dressmobileicon {
  background: url("dress-home-icon.png") no-repeat;
  height: 18px;
  width: 18px;
  margin: 0 auto;
  margin-top: 4px; }

#mobileHomeSearch, .search-container {
  padding-top: 75px; }

#mobilemeekohome {
  position: fixed;
  bottom: 0;
  background-color: #262626;
  border-top: 3px solid #D4D4D4;
  z-index: 99999; }
  #mobilemeekohome .mobilequicktab ul {
    list-style: none; }
    #mobilemeekohome .mobilequicktab ul li {
      display: block;
      width: 25%;
      margin-right: 0;
      float: left; }
  #mobilemeekohome .mobilequicktab .mobiletab {
    margin-top: 0;
    padding: 5px 0 0 !important; }
    #mobilemeekohome .mobilequicktab .mobiletab p {
      padding: 0 !important;
      font-size: 9px;
      color: #fff;
      font-weight: normal;
      text-transform: uppercase; }
      #mobilemeekohome .mobilequicktab .mobiletab p a {
        font-size: 10px;
        color: #fff;
        font-weight: normal; }
        #mobilemeekohome .mobilequicktab .mobiletab p a:active, #mobilemeekohome .mobilequicktab .mobiletab p a:focus {
          border: 0 !important; }

#productdetail {
  padding-top: 75px; }
  #productdetail .product-images {
    text-align: center; }

#meekoLatestProducts {
  padding: 75px 0 75px; }

.categoryarchivegrid {
  margin-bottom: 5px !important; }

.search-form .meeko-search-bar {
  webkit-border-radius: 5px !important;
  moz-border-radius: 5px;
  border-radius: 5px; }

#meekomagazine {
  margin: 0;
  padding-top: 75px; }
  #meekomagazine .magazineitem {
    box-shadow: none !important;
    width: 100%; }
    #meekomagazine .magazineitem .magazinedetailalt h1 {
      padding: 0 10px 0 10px !important; }
    #meekomagazine .magazineitem .magazineauthorhome {
      padding: 10px 0 15px;
      float: left;
      width: 100%;
      box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1) !important;
      margin-bottom: 0 !important;
      background: #fff; }

#mayalsolike .relatedbg {
  margin-top: 0;
  padding: 20px 0 10px; }

.recommendgrid {
  height: auto !important; }
  .recommendgrid .dressprice p {
    margin: 0; }

.relateddresses {
  padding-bottom: 0; }
  .relateddresses .owl-carousel .owl-item {
    height: auto; }

.masonrycontainer {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
  width: 100%; }
  .masonrycontainer li {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px !important; }

.meekomagcats h3 {
  font-family: "Open Sans", arial;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center; }
.meekomagcats ul {
  list-style: none; }
  .meekomagcats ul li {
    display: inline-block;
    margin: 0 5px 5px; }
    .meekomagcats ul li a {
      font-family: "Open Sans", arial;
      padding: 5px;
      font-size: 12px;
      text-transform: uppercase;
      background: #FE1880;
      color: #fff;
      border-radius: 5px; }
      .meekomagcats ul li a:focus, .meekomagcats ul li a:active, .meekomagcats ul li a:hover {
        background: #fff;
        color: #FE1880; }

#mobilemeekohome .mobilequicktab .mobiletab p a:focus, #mobilemeekohome .mobilequicktab .mobiletab p a:hover, #mobilemeekohome .mobilequicktab .mobiletab p a:active {
  font-weight: normal;
  color: #fff !important;
  border-bottom: 0 !important; }

.sizeavailable li a:hover, .sizeavailable li a:focus, .coloravailable li a:hover, .coloravailable li a:focus, .sizeavailableQv li a:hover, .sizeavailableQv li a:focus {
  color: #FE1880 !important; }

#meekoLatestProducts .breadcrumb-wishlist, .magazinehome .breadcrumb-wishlist {
  padding: 10px 5px; }
  #meekoLatestProducts .breadcrumb-wishlist p, .magazinehome .breadcrumb-wishlist p {
    margin: 0;
    font-size: 11px;
    font-family: "open sans", arial;
    color: #646473;
    text-transform: uppercase; }
    #meekoLatestProducts .breadcrumb-wishlist p a, .magazinehome .breadcrumb-wishlist p a {
      color: #646473;
      text-decoration: underline; }
#meekoLatestProducts .productheader, .magazinehome .productheader {
  background: #FCFCFC; }

.latestbg {
  background: #FCFCFC; }

.ajax-loader-meeko-app {
  position: fixed;
  top: 0;
  left: 0;
  background: url("http://preview.meeko.me/wp-content/themes/meeko/img/ring.gif?86c610") scroll no-repeat 50% 50% transparent;
  width: 100%;
  height: 100%;
  z-index: 99999; }

/*# sourceMappingURL=style.css.map */
