// variables

$white:#ffffff;
$black:#000000;
$nav:#373333;
$divider:#D4D4D4;
$dividermagazine: #cccccc; 
$background:#F8F8F8;
$instylepink:#FE1880;
$instyledarkpink:#FE0173;
$darkblack:#333232;
$instyleblack:#262626;
$grey:#837F7F;
$border:#DBDBDB;
$placeholder:#B5B5BF; 
$inputborder:#D6D6DC;
$mininavbg:#1C1C1C;
$product:#666464;
$productborder:#DBDBDB;
$meekoblue:#646473;
$meekodarkblue:#5B5B6A;
$lightgray:#FCFCFC;
$redsale:#C41F1D;
$wishlistlightbg:#B3B3BD;
$orange:#FF860D;
$beige:#dbc5b1;
$srtitle:#efefef;
$chargray: #404040;
$favgray: #333;

//filter colours

$coral: #FF7F50;
$cream: #efeeec;
$navy: #0f124d;
$pink: #ff69b4;
$turquoise: #40E0D0;
$blue: #393848;

//fonts

$opensans: "Open Sans", arial;
$droidsans: "Droid Sans", arial;
$arial: Arial, sans-serif;


body {
    position: relative;
}

.show-for-small-only.gobackmobile.ng-hide {
    display: none !important;
}

.testerino {
    display: none !important;
}

i.fa.fa-angle-left.fa-3 {
    font-size: 2em;
    color: #fff;
}

/**
 *	Animate the view
 */
.view-animate {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  &.ng-enter {
    opacity: 0;
    transition-delay: 0.5s;
  }
  &.ng-enter-active, &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}

@-webkit-keyframes drop-in{
	0% { left: -30px; opacity:0; }
	100% { left: 0; opacity:1; }
}

.animate{
	-webkit-animation: drop-in 0.5s cubic-bezier(.05,1.25,.61,1);
	-webkit-animation-delay: 1s;
	-webkit-animation-fill-mode: backwards;
	animation: drop-in 0.5s cubic-bezier(.05,1.25,.61,1);
	animation-delay: 1s;
	animation-fill-mode: backwards;    
}

#meekoRequest {
}

.view-animate-container {
    width: 100%;
    height: calc(100% + 1px);
    position: relative;
}

.view {
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    -webkit-overflow-scrolling: touch;  
    top: 0;
    left: 0;
}

.slideLeft,
.slideRight,
.slideTop {
  &.ng-enter, &.ng-leave {
    -webkit-transition: all 1s;
    transition: all 1s;
  }
}

.slideTop {
  &.ng-enter {
    top: 100%;
    &.ng-enter-active {
      top: 0;
    }
  }
  &.ng-leave.ng-leave-active {
    top: -100%;
  }
}

.slideLeft {
  &.ng-enter {
    left: 100%;
    &.ng-enter-active {
      left: 0;
    }
  }
  &.ng-leave.ng-leave-active {
    left: -100%;
  }
}

.slideRight {
  &.ng-enter {
    left: -100%;
    &.ng-enter-active {
      left: 0;
    }
  }
  &.ng-leave.ng-leave-active {
    left: 100%;
  }
}

[class*="block-grid-"] {
    margin: 0!important;
}

#meekoRequest {
    min-height: inherit!important;
    transform: translate3d(0,0,0);
}

#header {
    padding: 8px 0;
    position: fixed;
    height: 43px;
        .logo {
            margin: 0;
            display: inherit !important;
                img {
                    width: 25%;    
                }
        }
        .search {
            display: inherit; 
            margin-top: 15px;
                input {
                    border-radius: 5px;  
                    color: $chargray
                }
            .search-form {
                .submit {
                    right: 10px;
                }
            }
        }
        .searchbg {
            background: $black;
            padding-bottom: 8px;
        }
}

.mobilehome {
    padding-bottom: 70px;
    padding-top: 45px;
}

.ng-hide {
    //display: none;
}

.activetab {
    background: $instyledarkpink;
    color: #FFF !important;
    border-bottom: 0 !important;
    padding: 5px auto 0;
    margin-top: 4px
}

.meekomobileicon {
    background: url('home-meeko-logo.png') no-repeat;
    height: 18px;
    width: 26px;
    margin: 0 auto;
    margin-top: 4px
}

.homemobileicon {
    background: url('home-meeko-mobile.png') no-repeat;
    height: 18px;
    width: 21px;
    margin: 0 auto;
    margin-top: 4px
}

.dressmobileicon {
    background: url('dress-home-icon.png') no-repeat;
    height: 18px;
    width: 18px;
    margin: 0 auto;
    margin-top: 4px
}

.hamburger {
    background: url('hamburger.png') no-repeat;
    height: 18px;
    width: 18px;
    margin: 0 auto;
    margin-top: 4px
}

a {
    &.promos, 
    &.latestmeekomobile,
    &.latestmeekomag,{
        width: 100%;
        height: 100%;
        display: inline-block;
        margin: 0;
        z-index: 9999;
    }
}

#mobileHomeSearch, .search-container {
    padding-top: 45px;
    transform: translate3d(0,0,0);
}
 
#mobilemeekohome {
    position: fixed;
    bottom: 0;
    background-color: $instyleblack;
    border-top: 3px solid $divider;
    z-index: 999;
        .mobilequicktab {
            ul {
                display: block;
                width: 100%;
                list-style: none;   
                position: relative;
                    li {
                        //display: block;
                        width: 20%;
                        margin-right: 0;
                        float: left;
                    }
            }
            .mobiletab {
                margin-top: 0;
                padding: 7px 0 !important;
                p {
                    padding: 3px 0 0px !important;
                    font-size: 9px;
                    color: #fff;
                    font-weight: normal; 
                    text-transform: uppercase;
                        a {
                            font-size: 10px;
                            color: #fff;
                            font-weight: normal;
                                &:active,
                                &:focus {
                                    //color: #FFF !important;
                                    border: 0 !important;
                                    //font-weight: normal;
                                }
                        }
                }
            }
        }
}


#productdetail {
    padding-top: 45px;
    transform: translate3d(0,0,0);
        .product-images {
            text-align: center;
                .gallery {
                    li:first-child {
                        //display: none;    
                    }
                }
        }
    
}

#meekoRequest {
    position: relative;
    width: 100%;
    height: calc(100% + 1px);
        .meekoPromotions {
            padding-bottom: 60px;    
        }
}

#meekoLatestProducts {
    padding: 45px 0 75px;
    position: relative;
    height: calc(100% + 1px);
    transform: translate3d(0,0,0);
}

.categoryarchivegrid {
    margin-bottom: 5px!important;
}

.search-form {
    .meeko-search-bar {
        webkit-border-radius: 5px!important;
        moz-border-radius: 5px;
        border-radius: 5px;
        font-size: 14px;
    }
}

#meekomagazine {
    padding: 55px 0 0;
    height: calc(100% + 1px);
    transform: translate3d(0,0,0);
    margin-top: 0;
    .magazineitem {
        box-shadow: none !important;
        width: 100%;
         .magazinedetailalt {
            h1 {
                padding: 0 10px 0 10px !important;
            }
         }
        .magazineauthorhome {
            padding: 10px 0 15px;
            float: left;
            width: 100%;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1)!important;
            margin-bottom: 0 !important;
            background: #fff;
        }  
        .magazinecontent {
            margin-bottom: 60px;    
        }
    }
}

#mayalsolike {
    .relatedbg {
        margin-top: 0;
        padding: 20px 0 10px;
    }
}

.recommendgrid {
    position: relative;
    height: auto!important;
    .dressprice {
        p {
            margin: 0;
        }
    }
}

.relateddresses {
    padding-bottom: 45px;
    .owl-carousel {
        .owl-item {
            height: auto; 
        }
    }
}

.masonrycontainer {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
    width: 100%;
    padding-bottom: 5px;
        li {
            display: inline-block;
            width: 100%;
            margin-bottom: 10px !important;
        }
}

.meekomagcats {
    margin-bottom: 10px;
        h3 {
            font-family: "Open Sans", arial; 
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
        }
        ul {
            list-style: none;    
                li {
                    display: inline-block;
                    margin: 0 5px 5px;
                        a {
                            font-family: "Open Sans", arial;
                            padding: 5px;
                            font-size: 12px;
                            text-transform: uppercase;
                            background: #FE1880;
                            color: #fff;
                            border-radius: 5px;
                                &:focus,
                                &:active,
                                &:hover {
                                    background: #fff;
                                    color: #FE1880;
                                }
                        }
                }
        }
    
}

.dresstypes {
    padding-bottom: 100px;
    li {
        .dresstypecontainer {
            padding: 10px;
            box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
            background: $white;
            margin-bottom: 10px;
                .dresstypeimage {
                    img {
                    }
                }
                .dresstyletitle {
                    text-align: center;
                    padding: 5px 0 0;
                        a {
                            font-size: 14px;
                            font-family: $opensans;
                            color: $meekoblue;
                        }
                }
        }
    }
}

.mainMenu {
    padding-bottom: 80px;
    .menuSection {
        background: $white;
            h2 {
                font-size: 16px;
                text-transform: uppercase;
                font-family: $opensans;
                padding: 5px;
                color: $favgray;
            }
    }
    .connectWithUs {
        background: $instylepink;
        padding: 10px;
            &::after {
                clear: both;
                content: "";
                display: block;
            }
            ul {
                text-align: center;
                    li {
                        display: inline;   
                    }
            }
    }
    ul {
        list-style: none;
        li {
            .menuContainer {
                padding: 5px;
                //box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
                background: $white;
                //margin-bottom: 10px;
                    .menuTitle {
                        text-align: left;
                        padding: 5px 0 0;
                        font-size: 13px;
                        font-family: $opensans;
                        color: $meekoblue;
                    }
            }
        }
    }
}

#mobilemeekohome .mobilequicktab .mobiletab p a {
  &:focus, &:hover, &:active {
    font-weight: normal;
    color: #fff !important;
    border-bottom: 0 !important;
  }
}

.sizeavailable, .coloravailable, .sizeavailableQv {
    li {
        a {
            &:hover,
            &:focus {
                color: $instylepink !important;
            }
        }
    }
}

.breadcrumb-wishlist {
    padding: 10px 5px;
    p {
        margin: 0;
        font-size: 11px;
        font-family: "open sans", arial;
        color: #646473;
        text-transform: uppercase;
        a {
            color: #646473;
            text-decoration: underline;
        }
    }
}
.productheader {
    background: #FCFCFC;
}


.latestbg {
    background: #FCFCFC;
}

.pagination {
    padding-bottom: 80px;    
}

.meekoPagination {
    text-align: center;
        a {
            color: $white;
            background: $instylepink;
            padding: 3px;
            border-radius: 3px;
            font-size: 12px;
            margin: 0 10px;
            font-family: $opensans;
            text-transform: uppercase;
                &:hover,
                &:focus,
                &:active {
                    transition: all 0.5s ease-out;
                    background: $white;
                    color: $instylepink;
                }
        }
        span {
            font-size: 12px;
            text-transform: uppercase;
            font-family: $opensans;
        }
}

.staticContent {
    padding: 0 5px 60px 5px;
    font-family: $opensans;
        h1 {
            font-size: 16px;
            color: $meekodarkblue;
            margin: 0;
        }
        p {
            font-size: 13px;
        }
}

#buynowIframe {
    padding-top: 45px
}

.ajax-loader-meeko-app {
    //display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url("http://preview.meeko.me/wp-content/themes/meeko/img/ring.gif?86c610") scroll no-repeat 50% 50% transparent;
    width: 100%;
    height: 100%;
    z-index: 99999;
}

//go back

.gobackmobile {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    left: 15px;
    top: 5px;
    z-index: 6000;
        a {
            width: 40px;
            display: block;
        }
}