<div id="meekomagazine">
    <div class="row">
        <div class="large-12 columns">
            <div class="magazinewrapper">
                <div class="row">
                    <div class="large-offset-1 large-10 large-offset-1 columns">
                        <div class="magazineitem fullwidthmagazine">
                            <div class="imagepreview">
            
                                <img src="{{ post.post.thumbnail_images.full.url ? post.post.thumbnail_images.full.url : post.post.custom_fields.meekopin.join(', ') }}" /> 
                                
                          
                                <div class="magazinefull">
                                    <h1 ng-bind-html="post.post.title"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <div class="magazinewrapper">
                <div class="row">
                    <div class="large-offset-1 large-10 large-offset-1 columns">
                        <div class="magazineitem fullwidthmagazine">
                            <div class="magazinecontent" ng-bind-html="post.post.content">                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>