
<section id="mobileHomeSearch">
    
    <div class="row">

        <div class="small-offset-1 small-10 columns">

            <div class="mobilesearch">

                <span class="search">

                   <div class="search-form">

                        <div class="input-container" ng-controller="searchController">

                            <input class="meeko-search-bar" ng-model="search" id="search" type="text" placeholder="Search by brand, type or colour">

                            <div class="search-submit">

                                <button class="submit" ng-click="fetchResults(search)"></button>

                            </div>

                        </div>

                    </div>

                </span>

            </div>

        </div>
        
    </div>

</section>