
<section id="mobileHomeSearch">
    
    <div class="row">

        <div class="small-offset-1 small-10 columns">

            <div class="mobilesearch">

                <span class="search">

                   <form class="search-form" role="search" ng-submit="search()">

                        <div class="input-container">

                            <input class="meeko-search-bar" type="search" name="s" ng-model="filter.s" placeholder="Search by brand, type or colour">

                            <div class="search-submit">

                                <input class="submit" type="submit" id="searchsubmit" value="">

                            </div>

                        </div>

                    </form>

                </span>

            </div>

        </div>
        
    </div>

</section>