<section id="meekoLatestProducts">
    
    <div ng-show="loader.loading"><div class="ajax-loader-meeko-app"></div></div>
    
    <div ng-hide="loader.loading" class="row">
        
        <div class="small-12 medium-12 large-12 columns">
            
            <div class="breadcrumb-wishlist productheader">
                
                <div class="row">
                    
                    <div class="small-12 medium-10 large-10 columns" itemprop="breadcrumb">
                        <p>
                            <a class="home" href="http://localhost">Home</a> / <span> Search: <strong>{{ searchedDress }}</strong> Dresses</span></p>
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div>    
    
    <div class="row">

        <div class="small-12 columns">

            <ul class="small-block-grid-2">

                <li ng-repeat="post in posts">

                    <div id="product_300" class="categoryarchivegrid">
                        <div id="product_300" class="item-content">      

                            <div class="dressimg">
                                <a href="/product/{{ post.taxonomy_product_cat[0].slug }}/{{ post.slug }}">
                                    <img src="{{ post.thumbnail_images.full.url }}" />
                                </a>
                            </div>

                            <div class="dresstitle">

                                <p ng-bind-html="post.title"></p>  

                            </div>

                            <div class="dressprice">
                                <p>
                                    
                                   <del ng-show="post.custom_fields._regular_price > 0">
                                        <span class="amount">
                                            {{ post.custom_fields._regular_price | myCurrency }}
                                        </span>
                                    </del>

                                    <ins ng-show="post.custom_fields._sale_price > 0">
                                        <span class="amount">
                                            {{ post.custom_fields._sale_price | myCurrency }}
                                        </span>
                                    </ins>
                                    
                                    <span ng-show="post.custom_fields._sale_price > 0 && post.custom_fields._regular_price > 0">
                                        <span class="saving">
                                            {{ ((post.custom_fields._sale_price/post.custom_fields._regular_price)*100).toFixed(0) }}% Off
                                        </span>
                                        
                                    </span>
                                     
                                </p>
                                
                            </div>  

                        </div>

                    </div>

                </li>

            </ul>
            
            <div ng-hide="loader.loading">

                <div class="pagination meekoPagination view-animate">

                    <a ng-show="prev > 0" href="/search/{{ searchedDress }}/page/{{ prev }}">Prev</a> 
                    <span>Page {{ page }} of {{paging.pages}}</span>
                    <a ng-show="next <= paging.pages" href="/search/{{ searchedDress }}/page/{{ next }}">Next</a>

                </div>    
                
            </div>

        </div>

    </div>

</section>